{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">
  <div class="col-md-12">
    <h1 class="mb-4">Customer status</h1>
    <table class="table table-hover table-striped table-bordered">
      <thead >
        <tr class="bg-dark text-warning">
          <th>Customer ID</th>
          <th>Customer SSN ID</th>
          <th>Status</th>
          <th>Message</th>
          <th>Last Updated</th>
          <th>Operations</th>
          <th>View Profile</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>011112223</td>
          <td>123455678</td>
          <td>Active</td>
          <td>Customer update complete</td>
          <td>2020-06-24 15:59:51</td>
          <td>
            <a class="link" href="#">Refresh</a>
          </td>
          <td>
            <a class="link" href="#">View Details</a>
          </td>
        </tr>
        <tr>
          <td>011112223</td>
          <td>123455678</td>
          <td>Active</td>
          <td>Customer created successfully</td>
          <td>2020-06-24 15:59:51</td>
          <td>
            <a class="link" href="#">Refresh</a>
          </td>
          <td>
            <a class="link" href="#">View Details</a>
          </td>
        </tr>
        <tr>
          <td>011112223</td>
          <td>123455678</td>
          <td>Active</td>
          <td>reactivation process complete</td>
          <td>2020-06-24 15:59:51</td>
          <td>
            <a class="link" href="#">Refresh</a>
          </td>
          <td>
            <a class="link" href="#">View Details</a>
          </td>
        </tr>
        <tr>
          <td>011112223</td>
          <td>123455678</td>
          <td>Active</td>
          <td>Customer already active</td>
          <td>2020-06-24 15:59:51</td>
          <td>
            <a class="link" href="#">Refresh</a>
          </td>
          <td>
            <a class="link" href="#">View Details</a>
          </td>
        </tr>
        <tr>
          <td>011112223</td>
          <td>123455678</td>
          <td>Active</td>
          <td>Customer update complete</td>
          <td>2020-06-24 15:59:51</td>
          <td>
            <a class="link" href="#">Refresh</a>
          </td>
          <td>
            <a class="link" href="#">View Details</a>
          </td>
        </tr>
        <tr>
          <td>011112223</td>
          <td>123455678</td>
          <td>Active</td>
          <td>Customer update complete</td>
          <td>2020-06-24 15:59:51</td>
          <td>
            <a class="link" href="#">Refresh</a>
          </td>
          <td>
            <a class="link" href="#">View Details</a>
          </td>
        </tr>
        <tr>
          <td>011112223</td>
          <td>123455678</td>
          <td>Active</td>
          <td>Customer already active</td>
          <td>2020-06-24 15:59:51</td>
          <td>
            <a class="link" href="#">Refresh</a>
          </td>
          <td>
            <a class="link" href="#">View Details</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}