{% extends 'layout.html' %}

{% block body %}
<div class="row justify-content-center mb-3">
  <div class="col-md-6">
  <h1 class="mb-4">Withdraw Money</h1>
  <form action="" method="POST">
    <div class="form-row">
    <div class="form-group row col-md-12">
      <label class="col-sm-4 col-form-label">Customer ID: </label>
      <div class="col-sm-8">
        <label class="col-form-label" >123456789</label>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label class="col-sm-4 col-form-label">Account ID: </label>
      <div class="col-sm-8">
        <label class="col-form-label" >111111333</label>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label class="col-sm-4 col-form-label">Account Type: </label>
      <div class="col-sm-8">
        <label class="col-form-label" >Savings</label>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label class="col-sm-4 col-form-label">Balance: </label>
      <div class="col-sm-8">
        <label class="col-form-label" >59925</label>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <label for="customeraddress" class="col-sm-4 col-form-label">Amount to Withdraw: <text class="text-danger">*</text></label>
      <div class="col-sm-8">
        <input id="customeraddress" type="number" name="custAddress" class="form-control"  required value={{request.form.custAddress}}>
      </div>
    </div>
    <div class="col-md-12"><p class="text-danger">(*) Feilds are mendatory</p></div>
    <div  class=" col-md-6 mx-auto my-3">
    <button type="submit" class="btn btn-dark text-warning ml-1">Withdraw</button>
    </div>
  </div>
  </form>
</div>
</div>
</div>
{% endblock %}